@use "styles/theme/theme.variables" as *;

.section {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;

  .section-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;

    span.material-symbols-outlined {
      color: $tint-color;

      &.check {
        color: $success-color;
      }
    }

    .section-title {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 0.5rem;

      .toggle-icon {
        width: 28px;
        height: 28px;
        background-color: rgba($color: $tint-color, $alpha: 0.1);
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 0.75rem;

        &:hover {
          background-color: rgba($color: $tint-color, $alpha: 0.2);
        }

        &:active {
          transform: scale(0.95);
        }

        &.rotate-right {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
