@use "styles/theme/theme.variables" as *;

:host {
  box-sizing: border-box;
  font-family: Nunito;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .title {
    font-weight: 600;
    color: $tint-third-color;
  }
}

.section-title {
  font-weight: 600;
  color: $text-color;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .submit-button {
    ::ng-deep {
      button {
        width: fit-content;
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
