<div class="container" [class.collapsed]="isCollapsed">
  <sidebar-group>
    <sidebar-item [label]="'Home'">
      <span class="material-symbols-outlined" icon> home </span>
    </sidebar-item>
    <sidebar-item [label]="'Calendar'">
      <span class="material-symbols-outlined" icon> calendar_today </span>
    </sidebar-item>
    <sidebar-item [label]="'Settings'">
      <span class="material-symbols-outlined" icon> settings </span>
    </sidebar-item>
  </sidebar-group>
  <sidebar-item-collapse [label]="'Teaching'">
    <span class="material-symbols-outlined" icon> group </span>

    <ul items>
      <sidebar-item [label]="'To review'" type="list-item">
        <span class="material-symbols-outlined" icon> checkbook </span>
      </sidebar-item>
      @for(course of courses; track course.id) {
      <sidebar-item
        [label]="course.title"
        type="list-item"
        [description]="course.category.name"
      >
        <circle-image src="{{ course.imageUrl }}" icon></circle-image>
      </sidebar-item>
      }
    </ul>
  </sidebar-item-collapse>
</div>
