<div class="container" [class.collapsed]="isCollapsed">
  <sidebar-group>
    <sidebar-item [label]="'Home'" href="/home">
      <span class="material-symbols-outlined" icon> home </span>
    </sidebar-item>
    <sidebar-item [label]="'Calendar'" href="/calendar">
      <span class="material-symbols-outlined" icon> calendar_today </span>
    </sidebar-item>
    <sidebar-item [label]="'Settings'" href="/settings">
      <span class="material-symbols-outlined" icon> settings </span>
    </sidebar-item>
  </sidebar-group>  
  <sidebar-item-collapse [label]="currentUser?.role === Role.STUDENT ? 'Enrolled' : 'Teaching'">
    <span class="material-symbols-outlined" icon> 
      {{ currentUser?.role === Role.STUDENT ? 'group' : 'group' }}
    </span><ul items>
      <sidebar-item 
        [label]="currentUser?.role === Role.STUDENT ? 'To do' : 'To review'" 
        type="list-item" 
        [href]="currentUser?.role === Role.STUDENT ? '/to-do' : '/to-review'">
        <span class="material-symbols-outlined" icon> 
          {{ currentUser?.role === Role.STUDENT ? 'task_alt' : 'checkbook' }}
        </span>
      </sidebar-item>
      @for(course of courses; track course.id) {
      <sidebar-item
        [label]="course.title"
        type="list-item"
        [description]="course.category"
        [href]="'/courses/' + course.id"
      >
        <circle-image src="{{ course.imageUrl }}" icon></circle-image>
      </sidebar-item>
      }
    </ul>
  </sidebar-item-collapse>
</div>
