<div class="password-section">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword($event)" class="password-form">    
    <div class="form-section">      
      <div class="form-controls">
        <app-form-field
          [form]="passwordForm"
          [control]="currentPasswordControl"
          controlName="currentPassword"
          [showLabel]="true"
        />
        
        <app-form-field
          [form]="passwordForm"
          [control]="newPasswordControl"
          controlName="newPassword"
          [showLabel]="true"
        />
        
        <app-form-field
          [form]="passwordForm"
          [control]="confirmPasswordControl"
          controlName="confirmPassword"
          [showLabel]="true"
        />
      </div>
      <div class="submit-container">
        <div class="submit-button">
          <app-button type="submit" label="Change password" variant="primary" [loading]="loading" />
        </div>
      </div>
    </div>
  </form>
  <div class="placeholder-section">

  </div>
</div>
