<form [formGroup]="passwordForm" (ngSubmit)="changePassword($event)" class="password-form">
  <form-input
    id="currentPassword"
    [form]="passwordForm"
    type="password"
    controlName="currentPassword"
    placeholder="Current password"
    [validationMessages]="formConfig.validationMessages.currentPassword"
  >
    <label for="currentPassword" icon>
      <span class="material-symbols-outlined"> lock </span>
    </label>
  </form-input>
  <form-input
    id="newPassword"
    [form]="passwordForm"
    type="password"
    controlName="newPassword"
    placeholder="New password"
    [validationMessages]="formConfig.validationMessages.newPassword"
  >
    <label for="newPassword" icon>
      <span class="material-symbols-outlined"> lock </span>
    </label>
  </form-input>
  <form-input
    id="confirmPassword"
    [form]="passwordForm"
    type="password"
    controlName="confirmPassword"
    placeholder="Confirm password"
    [validationMessages]="formConfig.validationMessages.confirmPassword"
  >
    <label for="confirmPassword" icon>
      <span class="material-symbols-outlined"> lock </span>
    </label>
  </form-input>
  <div class="submit-container">
    <div class="submit-button">
      <app-button type="submit" label="Change password" variant="primary" [loading]="loading" />
    </div>
  </div>
</form>
