@use "styles/theme/theme.variables" as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.password-section {
  .form-section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .form-controls {
      display: flex;
      flex-direction: column;
      gap: 24px;
      
      ::ng-deep app-form-field {
        .container {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        
        .input-label {
          font-size: 14px;
          font-weight: 500;
          color: $text-color;
        }
        
        form-input {
          .input-container {
            padding-left: 0px !important;
          }
          
          input {
            width: 100%;
            padding: 12px 16px;
            border-radius: 8px;
            border: 1px solid $border-color;
            font-size: 14px;
            transition: all 0.2s ease;
            box-sizing: border-box;
            padding-left: 0px;
            &:focus {
              border-color: $tint-color;
              outline: none;
            }
            
            &.ng-invalid.ng-touched {
              border-color: $error-color;
            }
          }
        }
        
        .description {
          font-size: 12px;
          color: $text-secondary-color;
          margin-top: 4px;
        }
      }
    }

    .submit-container {
      margin-top: 0;
      
      .submit-button {
        ::ng-deep button {
          min-width: 160px;
          padding: 12px 24px;
          font-weight: 600;
          border-radius: 8px;
        }
      }
    }
  }
}
