<form [formGroup]="passwordForm" (ngSubmit)="changePassword($event)" class="password-form">
  <div class="password-section">
    <div class="form-section">
      <div class="form-controls">
        <app-form-field
          *ngFor="let control of passwordFormControls"
          [control]="control"
          [controlName]="control.id"
          [form]="passwordForm"
          [showLabel]="true"
        />
      </div>

      <div class="submit-container">
        <div class="submit-button">
          <app-button type="submit" label="Change password" variant="primary" />
        </div>
      </div>
    </div>
  </div>
</form>
