@use "styles/theme/theme.variables" as *;

:host {
  height: 312px;
  width: 100%;
}

.line-chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-family: Nunito;
}

.chart-title {
  font-weight: 600;
  color: $tint-third-color;
  margin: 20px 20px 12px 20px;
  text-align: center;
}

.chart-wrapper {
  position: relative;
  height: 220px;
  width: 100%;
}

.chart-legend {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.legend-label {
  font-size: 14px;
  color: #666;
}

@media (max-width: 576px) {
  .chart-wrapper {
    height: 180px;
  }

  .center-text {
    font-size: 24px;
  }

  .center-subtext {
    font-size: 12px;
  }
}