<div class="line-chart-container">
  <h3 class="chart-title" *ngIf="title">{{ title }}</h3>

  <div class="chart-wrapper">
    <canvas #chartCanvas></canvas>
    <div class="chart-center" *ngIf="centerText || centerSubtext">
      <div class="center-subtext" *ngIf="centerSubtext">{{ centerSubtext }}</div>
      <div class="center-text" *ngIf="centerText">{{ centerText }}</div>
    </div>
  </div>

  <div class="chart-legend">
    <div class="legend-item" *ngFor="let item of chartData">
      <div class="legend-color" [style.background-color]="item.color"></div>
      <div class="legend-label">{{ item.label }}</div>
    </div>
  </div>
</div>