<h2 class="sidebar-title">Annotation table</h2>

<div class="annotation-section">
  <h3 class="annotation-header">Symbol</h3>

  <div class="annotation-item">
    <span class="material-symbols-outlined">check_circle</span>
    <span class="description">You selected this answer!</span>
  </div>

  <div class="annotation-item">
    <span class="material-symbols-outlined">circle</span>
    <span class="description">You didn't select this answer!</span>
  </div>

  <div class="annotation-item">
    <span class="material-symbols-outlined unflagged">flag_2</span>
    <span class="description">The question is unflagged!</span>
  </div>

  <div class="annotation-item">
    <span class="material-symbols-outlined flagged">flag_2</span>
    <span class="description">The question is flagged!</span>
  </div>
</div>

<div class="annotation-section">
  <h3 class="annotation-header">Color</h3>

  <div class="annotation-item">
    <span class="color-box default"></span>
    <span class="description">This color represents the default answer!</span>
  </div>

  <div class="annotation-item">
    <span class="color-box correct"></span>
    <span class="description">This color represents the correct answer!</span>
  </div>

  <div class="annotation-item">
    <span class="color-box incorrect"></span>
    <span class="description">This color represents the incorrect answer!</span>
  </div>

  <div class="annotation-item">
    <span class="color-box missing"></span>
    <span class="description">This color represents the missing answer!</span>
  </div>
</div>
