<div class="settings-container">
  <card>
    <h3 class="card-title">Edit Setting</h3>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <app-collapsible-list>
      <app-collapsible-section [sectionId]="sectionIds[0]" [hasBorder]="false" title="General">
        <!-- Section dynamic title -->
        <span class="title" title>General</span>
        <!-- Section dynamic content -->        
         <div class="content" content>
          @for(control of generalFormControls; track control.id) {
          <setting-row [label]="control.label" [id]="control.id">
            <app-form-field
              [control]="control"
              [controlName]="control.id"
              [form]="form"
              [showLabel]="false"
            />
          </setting-row>
          }
        </div>
      </app-collapsible-section>
    </app-collapsible-list>
    <div class="submit-container">
      <app-button type="submit" label="Save" class="submit-button" />
    </div>
  </form>
  </card>
</div>