// === Base Colors ===
$background-color: #ffffff;
$text-color: #212529;
$tint-color: #1d4ed8;
$tint-secondary-color: #06b6d4;
$tint-third-color: #f97316;
$text-secondary-color: #6c757d;
$background-secondary-color: #f8f9fa;
$icon-color: #495057;
$icon-bounding-color: #e9ecef;
$icon-bounding-color-hover: #e2e8f0;
$border-color: #d1d5dc;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

// === Optional Shades ===
$background-dark: #121212;
$text-light: #f1f1f1;
$accent-color: #ff5722;
$error-color: #ef4444;
$success-color: #22c55e;
$warning-color: #eab308;
$info-color: #3b82f6;

//topic colors
$assignment-color: #7e22ce;
$page-color: #d946ef;
$link-color: #14b8a6;
$quiz-color: #db2777;
$file-color: #60a5fa;
$meeting-color: #1e40af;

$assignment-background: #faf5ff;
$meeting-background: #eff6ff;
$quiz-background: #fdf2f8;
