// === Base Colors ===
$background-color: #ffffff;
$text-color: #212529;
$tint-color: #1d4ed8;
$tint-secondary-color: #06b6d4;
$tint-third-color: #f97316;
$text-secondary-color: #6c757d;
$background-secondary-color: #f8f9fa;
$background-hover-color: #f1f3f5;
$icon-color: #495057;
$icon-bounding-color: #f0f3f7;
$icon-bounding-color-hover: #d5dbe0;
$border-color: #d1d5dc;
$border-hover-color: #495057;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

// === Optional Shades ===
$error-color: #ef4444;
$success-color: #22c55e;
$warning-color: #eab308;
$info-color: #3b82f6;

$success-hover-color: #f0fdf4;
$error-hover-color: #fef2f2;
$warning-hover-color: #fefce8;
$info-hover-color: #eff6ff;

//topic colors
$assignment-color: #7e22ce;
$page-color: #d946ef;
$link-color: #14b8a6;
$quiz-color: #db2777;
$file-color: #60a5fa;
$meeting-color: #1e40af;

$assignment-background: #faf5ff;
$meeting-background: #eff6ff;
$quiz-background: #fdf2f8;
$page-background: #fdf2f8;
$file-background: #f0f9ff;
$link-background: #f0fdfa;

$gradient-blue-1: #6366f1;
$gradient-blue-2: #22d3ee;
$gradient-green-1: #84cc16;
$gradient-green-2: #14b8a6;
$gradient-yellow-1: #f97316;
$gradient-yellow-2: #eab308;
$gradient-red-1: #ec4899;
$gradient-red-2: #ef4444;

$question-selected-color: #0891b2;
$question-selected-color-hover: #cffafe;

$quiz-header-start-color: $quiz-color;
$quiz-header-end-color: #751540;

$assignment-header-start-color: $assignment-color;
$assignment-header-end-color: #480373;

$meeting-header-start-color: $meeting-color;
$meeting-header-end-color: #1e3a8a;

$page-header-start-color: $page-color;
$page-header-end-color: #823690;

$file-header-start-color: $file-color;
$file-header-end-color: #396294;

$link-header-start-color: $link-color;
$link-header-end-color: #09524a;
