@if(topic) {
<topic-page-layout [topic]="topic">
  @if(isStudent) { @if(selectedTab === tabs.ASSIGNMENT) {
  <tab-assignment-student [topic]="topic" />
  } } @else { @if(selectedTab === tabs.ASSIGNMENT) {
  <tab-assignment [topic]="topic" />
  } @else if(selectedTab === tabs.SETTINGS) {
  <tab-setting [topic]="topic" (topicChange)="onTopicChange($event)" />
  } @else if(selectedTab === tabs.SUBMISSIONS) {
  <tab-submission [topic]="topic" />
  } @else if(selectedTab === tabs.DASHBOARD) {
  <tab-dashboard [topic]="topic" />
  } }
</topic-page-layout>
}
