<div [formGroup]="form" class="container">
  @if(showLabel) {
  <label [for]="control.id" class="input-label">
    {{ control.label }}
  </label>
  } @if(control.componentType === 'input') {
  <form-input
    [id]="control.id"
    [form]="form"
    [type]="control.type"
    [controlName]="controlName"
    [placeholder]="control.placeholder"
    [validationMessages]="control.validationMessages"
  />
  <span class="description">{{ control.description }}</span>
  } @else if (control.componentType === 'select') {
  <app-combobox
    [form]="form"
    [controlName]="controlName"
    [validationMessages]="control.validationMessages"
    [options]="control.options ?? []"
  />
  @if(control.descriptionOnOption) {
  <span class="description">{{
    control.descriptionOnOption[descriptionOptionKey]
  }}</span
  >} } @else if(control.componentType === 'datetime') {
  <app-date-time-picker
    [form]="form"
    [controlName]="controlName"
    [validationMessages]="control.validationMessages"
  />
  } @else if(control.componentType === 'checkbox') {
  <mat-checkbox
    [formGroup]="form"
    [formControlName]="controlName"
    [name]="controlName"
    (change)="onCheckboxChange($event)"
  />
  } @else if(control.componentType === 'file-upload') {
  <file-upload
    [form]="form"
    [controlName]="controlName"
    [validationMessages]="control.validationMessages"
  />
  } @else if(control.componentType === 'button') {
  <div class="form-button-row">
    <div class="form-button-label-note">
      <label [for]="control.id" class="form-button-label">{{
        control.label
      }}</label>
      <div *ngIf="control.note" class="form-button-note">
        {{ control.note }}
      </div>
    </div>
    <button
      type="button"
      class="form-button"
      (click)="control.onClick && control.onClick()"
      [id]="control.id"
      [ngStyle]="{
        'background-color': '#F3F4F6',
        color: control.buttonColor || '#22223b'
      }"
    >
      {{ control.buttonText || control.label }}
    </button>
  </div>
  <span class="description">{{ control.description }}</span>
  }
</div>
