.submitted-file {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  color: #06b6d4; // cyan-500
  text-decoration: none;

  &:hover {
    & .file-name {
      text-decoration: underline;
    }
  }

  .file-label {
    display: flex;
    align-items: center;
    gap: 4px;

    .file-name {
      text-underline-offset: 4px;
    }

    // File extension color classes
    .file-pdf {
      color: #ef4444; // red
    }

    .file-doc,
    .file-docx {
      color: #2563eb; // blue
    }

    .file-ppt,
    .file-pptx {
      color: #f97316; // orange
    }

    .file-txt {
      color: #4b5563; // gray
    }

    .file-default {
      color: #6b7280;
    }
  }
}
