<div class="submission-info">
  <div class="submission-date">
    <span class="date-label">Last modified:</span>
    <span class="date-value">{{ submittedTime }}</span>
  </div>
  <div class="submission-status">
    <span class="date-label">Submission status:</span>
    <span
      class="date-value"
      [class]="{
        gray: submissionStatus === submissionStatusType.NOT_SUBMITTED,
        green: submissionStatus === submissionStatusType.SUBMITTED_EARLY,
        red: submissionStatus === submissionStatusType.SUBMITTED_LATE
      }"
      >{{ submissionStatusText }}</span
    >
  </div>
</div>

<div class="detail-sections">
  <file-upload-view [studentResponse]="studentResponse" />
  <note-view [note]="getNoteOfResponse()" (saveNote)="onSaveNote($event)" />
</div>
