<card>
  <div class="topic-dates">
    <div class="date-item">
      <span class="date-label">Open:</span>
      <span class="date-value">{{
        formatDate(topic.data.open, "EEEE, dd MMMM yyyy HH:mm a")
      }}</span>
    </div>
    <div class="date-item">
      <span class="date-label">Due:</span>
      <span class="date-value">{{
        formatDate(topic.data.close, "EEEE, dd MMMM yyyy HH:mm a")
      }}</span>
    </div>
  </div>

  <div class="topic-description">
    <p>{{ topic.data.description }}</p>
  </div>

  <app-button
    label="Grade"
    class="grade-button"
    (onClick)="onGradeBtnClick()"
  />

  <div class="attempts-section">
    <h3 class="attempts-title">Your attempts</h3>

    <grading-summary-table
      [assigned]="assignedCount"
      [submitted]="submittedCount"
      [needGrading]="needGradingCount"
    />
  </div>
</card>

<card>
  <div class="comments-header">
    <span class="material-symbols-outlined"> group </span>
    <h3>Class comments</h3>
  </div>

  <comment-list />
  <comment-input />
</card>
