<app-tab-list />
@if(course) {
<main>
  @if(selectedTab === tabs.COURSE) {
  <tab-course [course]="course" />
  } @else if(selectedTab === tabs.ACTIVITIES) {
  <tab-activities [course]="course" [isStudent]="isStudent" [user]="user ? user : null"/>
  } @else if(selectedTab === tabs.PEOPLE) {
  <tab-people [course]="course" />
  } @else if(selectedTab === tabs.DASHBOARD) {
  <p>DASHBOARD</p>
  } @else if(selectedTab === tabs.SETTINGS) {
  <p>SETTINGS</p>
  }
</main>
} @else {
<div class="course-not-found">
  <img src="images/course-not-found.jpg" alt="Course not found" />
</div>
}
