<app-tab-list />
@if(course) {
<main>
  @if(selectedTab === tabs.COURSE) {
  <tab-course
    [course]="course"
    (updateSectionList)="onSectionListChange($event)"
    (cancelChange)="onCancelChange()"
    [canEdit]="!isStudent"
  />} @else if(selectedTab === tabs.ACTIVITIES) {
  <tab-activities
    [course]="course"
    [isStudent]="isStudent"
    [user]="user ? user : null"
  />
  } @else if(selectedTab === tabs.PEOPLE) {
  <tab-people [course]="course" />
  } @else if(selectedTab === tabs.DASHBOARD) { @if(!isStudent){
  <tab-dashboard [course]="course" />
  } @else {
  <tab-dashboard-student [course]="course" />
  } } @else if(selectedTab === tabs.SETTINGS) {
  <tab-setting [course]="course" />
  }
</main>
} @else {
<div class="course-not-found">
  <img src="images/course-not-found.jpg" alt="Course not found" />
</div>
}
