@use "styles/theme/theme.variables" as *;

.container {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Nunito;
  color: $text-color;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    app-tab-list {
      padding-left: 24px;
    }

    card {
      --max-width: auto;
      --width: auto;
    }
  }

  &.quiz {
    background-color: $quiz-background;
  }
  &.assignment {
    background-color: $assignment-background;
  }
  &.meeting {
    background-color: $meeting-background;
  }
  &.page {
    background-color: $page-background;
  }
  &.file {
    background-color: $file-background;
  }
  &.link {
    background-color: $link-background;
  }
}

@mixin header-gradient($start-color, $end-color) {
  background: linear-gradient(
    to bottom right,
    $start-color,
    $end-color 75%,
    $end-color
  );
  box-shadow: inset 4px 4px 20px 0px $end-color;
}

.topic-header {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  color: white;

  &.quiz {
    @include header-gradient($quiz-header-start-color, $quiz-header-end-color);
  }
  &.assignment {
    @include header-gradient(
      $assignment-header-start-color,
      $assignment-header-end-color
    );
  }
  &.meeting {
    @include header-gradient(
      $meeting-header-start-color,
      $meeting-header-end-color
    );
  }
  &.page {
    @include header-gradient($page-header-start-color, $page-header-end-color);
  }
  &.file {
    @include header-gradient($file-header-start-color, $file-header-end-color);
  }
  &.link {
    @include header-gradient($link-header-start-color, $link-header-end-color);
  }

  .topic-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0 24px;
    margin-bottom: 16px;

    span.material-symbols-outlined {
      font-size: 28px;
    }
  }
}

.topic-content {
  z-index: 1;
  position: relative;
  padding: 0 20px 20px;
  overflow-y: auto;
  margin-top: 150px;
}
