<div
  [formGroup]="form"
  class="combobox-field"
  [class.disabled]="getDisabledState()"
  (click)="toggleDropdown()"
  #comboboxRef
>
  <span class="combobox-value">{{ selectedOption?.label || placeholder }}</span>

  <span class="material-symbols-outlined" [class.open]="isOpen">
    keyboard_arrow_down
  </span>
</div>
<form-warning
  [form]="form"
  [controlName]="controlName"
  [messages]="validationMessages"
/>
@if(isOpen && getDisabledState() === false) {
<div
  class="combobox-dropdown"
  [style]="
{
  top: dropdownPosition.top,
  left: dropdownPosition.left,
  bottom: dropdownPosition.bottom,
  right: dropdownPosition.right,
}"
>
  @if(options.length === 0) {
  <div class="combobox-option">No options available</div>
  } @for(option of options; track option.value) {
  <div
    class="combobox-option"
    [class.selected]="option.value === selectedOption?.value"
    (click)="selectOption(option)"
  >
    {{ option.label }}
  </div>
  }
</div>
}
