@use "styles/theme/theme.variables" as *;

div {
  padding: 0.75rem 1rem;
  font-family: Nunito;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:not(.white) {
    color: $text-secondary-color;
    &:hover {
      background-color: $icon-bounding-color-hover;
    }

    &.active {
      box-shadow: inset 0 -2px 0 0 $tint-color;
      color: $tint-color;
      font-weight: 600;
    }
  }

  &.white {
    color: white;
    &:hover {
      background-color: rgba($color: white, $alpha: 0.1);
    }

    &.active {
      box-shadow: inset 0 -2px 0 0 white;
      font-weight: 600;
    }
  }
}
