<form [formGroup]="form" (submit)="onSubmit($event)">
  <form-input
    id="email"
    [form]="form"
    type="email"
    controlName="email"
    placeholder="Email"
    [validationMessages]="formConfig.validationMessages.email"
  >
    <label for="email" icon
      ><span class="material-symbols-outlined"> mail </span></label
    >
  </form-input>
  <form-input
    id="username"
    [form]="form"
    type="username"
    controlName="username"
    placeholder="Username"
    [validationMessages]="formConfig.validationMessages.username"
  >
    <label for="username" icon
      ><span class="material-symbols-outlined"> person </span></label
    >
  </form-input>
  <form-input
    id="password"
    [form]="form"
    type="password"
    controlName="password"
    placeholder="Password"
    [validationMessages]="formConfig.validationMessages.password"
  >
    <label for="password" icon
      ><span class="material-symbols-outlined"> lock </span></label
    >
  </form-input>
  <form-input
    id="confirmPassword"
    [form]="form"
    type="password"
    controlName="confirmPassword"
    placeholder="Confirm password"
    [validationMessages]="formConfig.validationMessages.confirmPassword"
  >
    <label for="confirmPassword" icon
      ><span class="material-symbols-outlined"> lock </span></label
    >
  </form-input>

  <mat-checkbox [formGroup]="form" formControlName="isTeacher"
    >Are you a teacher?</mat-checkbox
  >

  <app-button label="SIGN UP" type="submit" [loading]="loading" />

  <span class="link-container">
    Already have an account?
    <a href="/auth/login">Log in</a>
  </span>
</form>
