@use "styles/theme/theme.variables" as *;

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  ::ng-deep {
    & span.material-symbols-outlined {
      color: $icon-color;
    }

    &:focus-within {
      span.material-symbols-outlined {
        color: $tint-color;
      }
    }
  }
}

mat-checkbox {
  margin-left: auto;
}

.link-container {
  text-align: center;
  font-size: 14px;
  color: $text-secondary-color;
  font-family: Nunito;

  & a {
    color: $tint-color;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
