@use "styles/theme/theme.variables" as *;

:host {
  padding: 16px 0 0;
  border-top: 1px solid $border-color;
}

mat-panel-title {
  display: flex;
  align-items: end;
  gap: 16px;
  transition: background-color 0.4s ease-in-out;
  color: $text-secondary-color;
}

ng-content.icon {
  --icon-color: $icon-color;
}

label {
  font-family: Nunito;
  pointer-events: none;
  user-select: none;
}

::ng-deep mat-expansion-panel div.mat-expansion-panel-body {
  padding: 0;
}

mat-expansion-panel-header {
  transition: padding 0.4s ease-in-out !important;
  &.mat-expanded {
    border-radius: 12px 12px 0 0;
  }
  &.mat-content {
    overflow: auto;
  }
  &:hover {
    background-color: #e8e7eb !important;
  }
  &.collapsed {
    padding-left: 12px;
    padding-right: 0;
  }
  &:hover {
    ::ng-deep {
      .material-symbols-outlined {
        --icon-hover-setting: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
        font-variation-settings: var(--icon-hover-setting);
      }
      label {
        font-weight: 600;
      }
    }
  }

  &:active {
    ::ng-deep {
      .material-symbols-outlined {
        --icon-active-setting: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
        font-variation-settings: var(--icon-active-setting);
      }
    }
  }
}
