<div class="grade-row">
  <div class="grade-content-left">
    <div class="grade-info">
      <rank-logo [rank]="rank" />
      <color-item [color]="rangeColorMap[rank]">
        {{ rangeMap[rank] }}
      </color-item>
    </div>
    <div class="separator"></div>
    <div class="grade-count">
      <color-item color="gray">
        {{ students.length }}
      </color-item>
      <span class="grade-label">Students</span>
    </div>
  </div>

  <div class="grade-avatars">
    <div class="avatar" *ngFor="let student of getFirst4Students()">
      <circle-image [src]="student.avatar" />
    </div>
    <div class="avatar-more" *ngIf="students.length > 4">
      +{{ students.length - 4 }}
    </div>
  </div>
</div>
