@use "styles/theme/theme.variables" as *;
:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 16px 140px;

  ::ng-deep card {
    height: 100%;
    width: 100%;
    min-height: fit-content;
  }
}

.card-title {
  font-weight: 600;
  color: $tint-third-color;
}

.title {
  font-weight: 600;
  color: $text-color;
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.timing-content {
    ::ng-deep app-combobox {
      --max-width: 100%;
    }
  }
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  .checkbox-container {
    width: fit-content;
  }
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .submit-button {
    ::ng-deep {
      button {
        width: fit-content;
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
