@use "styles/theme/theme.variables" as *;

$green-color: #22c55e;
$green-background: #f0fdf4;

$yellow-color: #eab308;
$yellow-background: #fefce8;

$cyan-color: #06b6d4;
$cyan-background: #ecfeff;

$blue-color: #3b82f6;
$blue-background: #eff6ff;

$gray-color: #6b7280;
$gray-background: #f3f4f6;

.container {
  background-color: $assignment-color;
  color: white;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 14px;

  &.green {
    background-color: $green-background;
    color: $green-color;
  }
  &.yellow {
    background-color: $yellow-background;
    color: $yellow-color;
  }
  &.cyan {
    background-color: $cyan-background;
    color: $cyan-color;
  }
  &.gray {
    background-color: $gray-background;
    color: $gray-color;
  }
  &.blue {
    background-color: $blue-background;
    color: $blue-color;
  }
  &.purple {
    background-color: $assignment-color;
    color: white;
  }
}
