<card>
  <h3 class="card-title">Edit setting</h3>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <app-collapsible-list>
      <app-collapsible-section [sectionId]="sectionIds[0]" [hasBorder]="false" title="General">
        <!-- Section dynamic title -->
        <span class="title" title>General</span>

        <!-- Section dynamic content -->
        <div class="content" content>
          @for(control of generalFormControls; track control.id) {
          <setting-row [label]="control.label" [id]="control.id">
            <app-form-field
              [control]="control"
              [controlName]="control.id"
              [form]="form"
              [showLabel]="false"
            />
          </setting-row>
          }
        </div>
      </app-collapsible-section>
      <app-collapsible-section [sectionId]="sectionIds[1]" [hasBorder]="false" title="Availability">
        <!-- Section dynamic title -->
        <span class="title" title>Availability</span>

        <!-- Section dynamic content -->
        <div class="content" content>
          @for(controls of availabilityFormControls; track controls) {
          <setting-row [label]="controls[0].label">
            <div class="flex-row">
              @for(control of controls; track control.id) {
              @if(control.componentType === 'checkbox') {
              <div class="checkbox-container">
                <app-form-field
                  [control]="control"
                  [form]="form"
                  [controlName]="control.id"
                  [showLabel]="false"
                  (onCheckChange)="onCheckboxChange($event)"
                />
              </div>
              } @else {<app-form-field
                [control]="control"
                [controlName]="control.id"
                [form]="form"
                [showLabel]="false"
              />} }
            </div>
          </setting-row>
          }
        </div>
      </app-collapsible-section>
      <app-collapsible-section [sectionId]="sectionIds[2]" [hasBorder]="false" title="Submission">
        <!-- Section dynamic title -->
        <span class="title" title>Submission</span>

        <!-- Section dynamic content -->
        <div class="content" content>
          @for(controls of submissionFormControls; track controls) {
          <setting-row [label]="controls[0].label">
            <div class="flex-row">
              @for(control of controls; track control.id) {
              @if(control.componentType === 'checkbox') {
              <div class="checkbox-container">
                <app-form-field
                  [control]="control"
                  [form]="form"
                  [controlName]="control.id"
                  [showLabel]="false"
                  (onCheckChange)="onCheckboxChange($event)"
                />
              </div>
              } @else if(control.componentType === 'file-upload') {
              <app-form-field
                [control]="control"
                [form]="form"
                [controlName]="control.id"
                [showLabel]="false"
              />
              } @else {<app-form-field
                [control]="control"
                [controlName]="control.id"
                [form]="form"
                [showLabel]="false"
              />} }
            </div>
          </setting-row>
          }
        </div>
      </app-collapsible-section>
    </app-collapsible-list>
    <div class="submit-container">
      <app-button type="submit" label="Save" class="submit-button" />
    </div>
  </form>
</card>
